@using System.Net
@{
    ViewData["Title"] = "Chuyển khoản VietQR";
    var idTable = ViewData["IdTable"]?.ToString() ?? "";
    var restaurantId = ViewData["RestaurantId"]?.ToString() ?? "";
    var paymentInfo = ViewData["PaymentInfo"] as PaymentInfo;
    var description = ViewData["Description"]?.ToString() ?? "";
    var accountName = paymentInfo?.AccountName ?? "";

    @* Mã hóa để tránh lỗi khi chuyển khoản *@
    var encodedName = WebUtility.UrlEncode(accountName);
    var encodedDesc = WebUtility.UrlEncode(description);
}
@if (string.IsNullOrEmpty(idTable) || string.IsNullOrEmpty(restaurantId))
{
    <div class="alert alert-danger mt-5">Không hợp lệ!</div>
}
else
{
    <div class="container mt-5" style="max-width: 500px;">
        <div class="card shadow">
            <div class="card-body text-center">
                <h3 class="mb-3 fw-bold">Chuyển khoản VietQR</h3>
                <div class="mb-3">
                    <img id="vietqrImage"
                        src="https://img.vietqr.io/image/MB-0389105492-print.jpg?amount=0&addInfo=@encodedDesc&accountName=@encodedName"
                        class="img-fluid" style="max-height: 400px;" />

                </div>

                <div class="action-field d-flex flex-column gap-3  mt-3">
                    <form asp-controller="Payment" asp-action="Create" method="post" onsubmit="attachOrderData()">
                        <input type="hidden" name="acsc" value="@Context.Request.Query["acsc"]" />
                        <input type="hidden" name="voucherId" id="voucherIdInput" />
                        <button type="submit" class="btn btn-success w-100">Đã thanh toán</button>
                    </form>
                    <a href="@Url.Action("CartDetail", "Cart", new { acsc = Context.Request.Query["acsc"], })"
                        class="btn btn-secondary" onclick="sessionStorage.removeItem('checkoutInProgress')">Quay lại giỏ
                        hàng</a>
                </div>
            </div>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cartTotal = localStorage.getItem('cartTotalAfterDiscount');
        if (cartTotal) {
            const img = document.getElementById('vietqrImage');
            const url = new URL(img.src);

            url.searchParams.set('amount', parseInt(cartTotal));

            img.src = url.toString();
        }
    });

    function attachOrderData() {
        const voucherId = localStorage.getItem("voucher_id");
        document.getElementById("voucherIdInput").value = voucherId || "";
    }
</script>